<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yassarchohan.campus_recruitment_system2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_in_Admin" />
        <activity android:name=".Sign_in_student" />
        <activity android:name=".Sign_in_Company" />
        <activity android:name=".Getter_methods" />
        <activity android:name=".Student_list" />
        <activity android:name=".Company_list" />
        <activity android:name=".job_post" />
        <activity android:name=".Custom_view"></activity>
    </application>

</manifest>